body {
    /* background: yellow; */
    font-family: 'Open Sans', sans-serif;
    margin: 0 20px;
}

p {
    margin: 5px;
}

a:hover {
    font-weight: bold;
    text-decoration: none;
}

.head::after {
    content: 'HEAD';
    /* display: block; */
    border: 1px solid rgb(145, 145, 247);
    background: wheat;
    padding: 2px;
}

.hideable > h4 {
    cursor: pointer;
    position: relative;
    margin: 0 5px 0 -20px;
}
.hideable > h4:before {
    content: attr(data-text);
    border: 1px solid brown;
    background: wheat;
    width: 15px;
    height: 15px;
    display: inline-block;
    text-align: center;
    margin: 0 5px 0 0;
    line-height: 1rem;
}

.hidden {
    overflow: hidden;
    max-height: 0;
    display: none;
}
/* This sets the color for "TK" nodes to a light blue green. */
svg {
    width: 95vw;
}

text {
    font-weight: 300;
    font-size: 14px;
}

.node rect {
    stroke: #999;
    fill: #fff;
    stroke-width: 1.5px;
}

.edgePath path {
    stroke: #333;
    stroke-width: 1.5px;
}

.tooltip {
    position: absolute;
    pointer-events: none;
    background: azure;
    border: 1px solid gray;
    border-radius: 5px;
}

.node > * {
    cursor: pointer;
}

.link {
    margin: 0 10px;
}

.bread-crumb {
    font-size: 1.5rem;
}

.file-info {
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 5px -5px #bababa;
}

.file-info > p {
    font-family: 'Anonymous Pro', monospace;
}

.line-num {
    font-size: 0.7rem;
    color: #aaaaaa;
}
